*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;   
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav{
    background: #004155;
    height: 80px;
    width: 100%;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

.boxBcol1 {
    display: flex;              /*Esto permite que los elementos hijos dentro de "boxB" se muestren en una columna vertical*/
    flex-direction: column;     /*Ahora, la clase "InicioSesionT" aparecerá debajo de la clase "InicioSesion".*/
    align-items: center;
}

.boxBcol2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav ul li a{
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: capitalize;
}

li a.active, li a:hover{
    background: rgb(156, 210, 211);
    transition: .2s;
    padding: 20px 30px;
}

.btnIniciarS:hover{
    background: rgb(0, 119, 153);
    transition: .2s;
    padding: 10px 20px;
    font-weight: bold;
    color:#fff
}

.btnBanner:hover{
    background: rgb(0, 119, 153);
    transition: .2s;
    padding: 15px 30px;
    font-weight: bold;
    color:#fff
}

section.banner{ 
    background-color: rgb(242,230,207);
    padding: 1rem ;
}

.imgBanner{
    width: 20%;
}

.boxBcol1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
    font-size: 2vw;
}
.boxBcol2{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2vw;
}



.containerB{
    width: 99%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 3rem;
    justify-content: space-between;
    font-size: 1.5vw; 
}
.containerC{
    width: 99%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 3rem;
    font-size: 1.5vw; 
}

.btnBanner{
    text-align: center;
    background: linear-gradient(to right, rgb(17, 76, 95), rgb(255, 255, 255));
    color: #000000;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}

.btnIniciarS{
    text-align: center;
    background: linear-gradient(to right, rgb(17, 76, 95), rgb(255, 255, 255));
    color: #000000;
    padding: 5px 10px;
    border-radius: 10px;
    text-decoration: none;
    justify-content: center;
    text-align: center;
}

.txtBanner{
    color: #000000;
    padding: 20px 20px;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.InicioSesion{
    font-size: 40px;
    text-align: center;
}

.InicioSesionT{
    text-align: start;
}

.descargar {
    display: block;
    margin: 0 auto;
    width: 20%;
}

.boxB2col1{
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: center;
    background-color: rgb(242,230,207);
}


.boxBcol2{
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    background-color: rgb(242,230,207);
}

.imgMach{
    width: 20%;
    background-color: rgb(242,230,207);
}

section.Conocenos{
    background-color: rgb(242,230,207);
    padding: auto auto;
}


.txtConocenos{
    text-align: start;
    font-size: 30px;
    background: #004155;
    color: #ffffff;
    padding: 5px 5px;
    width: 10%;
    height: 2%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    justify-content: center;
}

.imgMach{
    width: 60%;
}

.boxB2col1{
    display: start;
    flex-direction: column;
    align-items: start;
    flex: 1;
    color: #000000;
    padding: 20px 20px;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.boxB2col3{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000000;
    padding: 20px 20px;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transform: translateY(-220px);
}

.imgLogo{
    margin-right: 400px;
    align-items: start;
    width: 20%;
}

.Comunidad{
    background: rgb(156,210,211);
   
}

.txtComunidad{
    text-align: left;
    font-size: 30px;
    background: #004155;
    color: #ffffff;
    padding: 5px 5px;
    width: 10%;
    height: 2%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    justify-content: center;
}


nav ol{
    display: flex;
    float: center;
    margin-right: 100px;
}

nav ol li{
    font-weight: bold;
    font-size: 20px;
    padding: 40px 40px;
    display: inline-block;
    line-height: 100px;
    margin: 0 5px;
    margin-left: 300px;
}

.wspIMG{
    padding: 20px 20px;
    width: 200px;
}

.tlgIMG{
    padding: 20px 20px;
    width: 200px;
}

.ytIMG{
    padding: 20px 20px;
    width: 200px;
}

.wspIMG:hover{
    transition: .2s;
    padding: 30px 30px;
}

.tlgIMG:hover{
    transition: .2s;
    padding: 30px 30px;
}

.ytIMG:hover{
    transition: .2s;
    padding: 30px 30px;
}

.unete{
    margin-left: 50px;
    align-items: center;
    text-align: center;
}

.txtApp{
    text-align: center;
    font-size: 30px;
    background: #004155;
    color: #ffffff;
    padding: 5px 5px;
    width: 10%;
    height: 2%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    justify-content: center;
}

.listapp {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(242, 230, 207);
    margin: 0 5px;
  }
  
.sign{
    padding: 20px 20px;
    width: 290px;
    transform: translateY(220px); 
}
  
.ini{
    padding: 20px 20px;
    width: 300px;
    transform: translateY(220px);
}
  
.lug{
    padding: 20px 20px;
    width: 300px;
    transform: translateY(220px);
}


.btnEnter {
    background: #004155;
    padding-left: 5px;
    padding-right: 5px;
    width: 1px;
    color: #000000;
}

.btnEnter:hover{
    background: rgb(0, 119, 153);
    transition: .2s;
    font-weight: bold;
    color:#fff;
}

.ContactTabla {
    border-spacing: 20px;
    color:#fff;
}

.Contactanos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    font-size: 1.5vw; 
}

.twitter{
    width: 20px;
    transform: translateY(-25px);
}

.facebook{
    width: 20px;
    transform: translateY(-25px);
}

.insta{
    width: 20px;
    transform: translateY(-25px);
}

.linked{
    width: 20px;
    transform: translateY(-25px);
}

.tiktok{
    width: 20px;
    transform: translateY(-25px);
}

.ContactTabla{
    border-spacing: 90px 20px;
}

.btnEnter{
    transform: translateX(-90px);
}